@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../image/pink.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'BBTreeGB';
}

.title {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 4rem;
} 

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-gap: 10px;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 48%;
}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content {
    padding: 7px 16px;
    background-color: white;
    font-size: 21px;
}