@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }


body{
    background: url(../image/christmas.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.xmas{
    color: #ffffff;
    vertical-align: middle;
    font-size: 3rem;
    font-family: 'InkLipquid';
    text-shadow: 2px 2px 6px gray;
}
.home{
    text-align: center;
    margin-top: 40rem;
}

h1{
    margin: 0px;
}
.make{
    margin-top: 5rem;
    font-family: 'BMJUA';
    display: inline-block;
    width: 400px;
    height: 120px;
    border: 5px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    line-height: 120px;
    font-size: 4rem;
    text-shadow: 2px 2px 6px gray;
    box-shadow: 2px 2px 6px gray;
}

.make a:link { color:#ffffff; text-decoration: none;}
.make a:visited { color: #ffffff; text-decoration: none;}
.make a:hover { color: #ffffff; text-decoration: none;}

@media only screen and (min-width: 1025px){

}