@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background: url(../image/christmas.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.container{
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.kakao{
    display: inline-block
}
.kakao img{
    margin-top: 100px;
}
.send{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'BBTreeGB';
    color: white;
    font-size: 1.3rem;
    text-shadow: 2px 2px 6px gray;
}
