@font-face { font-family: 'CookieRunOTF-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background-color: rgb(163,225,135);
    text-align: center;
    margin: 0px;
}
.kakao{
    display: inline-block
}
.kakao img{
    margin-top: 100px;
}
.send{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'DungGeunMo';
    color: white;
    font-size: 1.7rem;
}
