@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal;
}

.snowflake {
    color: #fff;   
    font-size: 30px;   
    font-family: Arial;
    text-shadow: 0 0 1px #000;
} 
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
.snowflake{
    position:fixed;
    top:-10%;z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running}
.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


body{
    background: url(../image/christmas.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.xmas{
    color: #ffffff;
    vertical-align: middle;
    font-size: 3rem;
    font-family: 'InkLipquid';
    text-shadow: 2px 2px 6px gray;
}
.home{
    text-align: center;
    margin-top: 40rem;
}

h1{
    margin: 0px;
}
.make{
    margin-top: 5rem;
    font-family: 'BBTreeGB';
    display: inline-block;
    width: 400px;
    height: 120px;
    border: 5px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    line-height: 120px;
    font-size: 4rem;
    text-shadow: 2px 2px 6px gray;
    box-shadow: 2px 2px 6px gray;
}

.make a:link { color:#ffffff; text-decoration: none;}
.make a:visited { color: #ffffff; text-decoration: none;}
.make a:hover { color: #ffffff; text-decoration: none;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    border-radius: 10px;
    font-family: 'BBTreeGB';
    background-color: #fcfcfc;
    margin: 8% auto; /* 8% from the top and centered */
    padding: 20px;
    border: 1px solid #9e9e9e;
    width: 30%; /* Could be more or less, depending on screen size */  
    text-align: center;                        
}
.modal-content img{
    width: 30%;
    margin: 0px auto;
}
.close{
    cursor: pointer; 
    background-color:#d3d3d3;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px; 
    border-radius: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1025px){

    .home{
        margin-top: 10rem;
    }

}