@font-face { font-family: 'CookieRunOTF-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background-color: black;
}
.container{
    margin-top: 100px;
    width: 70%;
    text-align: center;
    margin-left: 150px;
}
img.mouse{
    width: 200px;
}
svg{
    color: white;
}
/* .ment{
    text-align: center;
    vertical-align: middle;
    font-family: 'InkLipquid';
    font-size: 50px;
    display: inline;
} */
table{
    width: 100%;
    font-family: 'BMJUA';
}
.table{
    display: inline-block;
    color: white;
}
label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}
.newbutton{
    font-size: 3.5rem;
    font-family: 'BMJUA';
    text-align: center;
    letter-spacing: 1rem;
    background-color:  #1041FF;
    width: 80%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    border-radius: 40px;
}
.newbutton:hover{
    font-weight: bold;
    background-color: white;
    color: #1041FF;
}

textarea#id_title.form-control, textarea#id_name.form-control, textarea#id_pw.form-control{
    font-size: 3rem;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    font-family: 'BMJUA';
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
}

textarea#id_content.form-control{
    margin: 0px;
    font-size: 3rem;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    height: 400px;
    width: 80%;
    font-family: 'BMJUA';
    background-color: transparent;
}

input#id_pw::placeholder{
    color: white;
}

.neon {
    font-family: 'BBTreeGB';
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: 'BMJUA';
    color: #426DFB;
    font-size: 60px;
    line-height: 170%;
    text-shadow: 0 0 3vw #2356FF;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }