@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

svg{
    color: white;
}

body{
    background: url(../image/bg_wj.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flux, .neon{
    visibility: hidden;
}

table{
    width: 100%;
    display: inline-block;
    margin-top: 3rem;
    
}

label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}
.newbutton{
    font-size: 3.5rem;
    font-family: 'Bazzi';
    text-align: center;
    letter-spacing: 1rem;
    background-color: #ffffff;
    width: 80%;
    height: 100px;
    margin-bottom: 30px;
    color: #1d4c79;
    border-radius: 40px;
}
.newbutton:hover{
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid white;
}

::placeholder{
    color: #9dc6ec;
    text-shadow: 0px 0px 0px #ffffff;
}

textarea#id_title.form-control{
    font-size: 4rem;
    border: none;
    /* border-bottom: 2px solid black; */
    font-family: 'Cafe24Ohsquare';
    width: 80%;
    margin-bottom: 50px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 0px #9dc6ec;
    letter-spacing: 4px;
}

textarea#id_name.form-control{
    font-size: 3rem;
    border: none;
    /* border-bottom: 2px solid black; */
    font-family: 'Bazzi';
    width: 80%;
    margin-bottom: 50px;
    background-color: transparent;
    text-align: center;
    color: #9dc6ec;
}

textarea#id_content.form-control{
    margin: 0px;
    font-size: 3rem;
    border: none;
    /* border-bottom: 2px solid black; */
    height: 400px;
    width: 80%;
    font-family: 'Bazzi';
    background-color: transparent;
    text-align: center;
    color: #ffffff;
}
.snowflakes {
    display: inline !important;
}
.snowflake {   
    color: #fff;   font-size: 3em;   font-family: Arial;   text-shadow: 0 0 1px #000; 
}

@-webkit-keyframes snowflakes-fall{
    0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
}


/* detail.html 에서 적용되는 부분 */
tbody{
    width: 100%;
    display: table;
    margin-top: 140px;
}

.detail-form{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

th.titledetail{
    font-size: 4rem;
    border: none;
    /* border-bottom: 2px solid black; */
    font-family: 'Cafe24Ohsquare';
    width: 80%;
    margin-bottom: 50px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 0px #9dc6ec;
    letter-spacing: 4px;
}

.contentdetail{
    margin: 0px;
    font-size: 3rem;
    border: none;
    /* border-bottom: 2px solid black; */
    height: 400px;
    width: 80%;
    font-family: 'Bazzi';
    background-color: transparent;
    text-align: center;
    color: #ffffff;
}