@font-face {font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal;}

body{
    background: url(../image/snowman.png) no-repeat center center fixed; 
}
svg{
    color: white;
}
.flux, .neon{
    visibility: hidden;
}

table{
    width: 100%;
    font-family: 'Cafe24Oneprettynight';
    display: inline-block;
    margin-top: 4rem;
}

label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    margin-top: 190px;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}
.newbutton{
    font-size: 3.5rem;
    font-family: 'Cafe24Oneprettynight';
    text-align: center;
    letter-spacing: 1rem;
    background-color: transparent;
    width: 80%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
}
.newbutton:hover{
    font-weight: bold;
    background-color: white;
    color: #34558b;
}


textarea#id_title.form-control, textarea#id_name.form-control{
    font-size: 3rem;
    border: 3px solid white;
    font-family: 'Cafe24Oneprettynight';
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
::placeholder{
    color: white;
}
textarea#id_content.form-control{
    margin: 0px;
    font-size: 3rem;
    border: 3px solid white;
    height: 400px;
    width: 80%;
    font-family: 'Cafe24Oneprettynight';
    background-color: transparent;
    color: white;
    border-radius: 10px;
}

/* detail.html 에서 적용되는 부분 */
tbody{
    width: 100%;
    display: table;
    margin-top: 140px;
}

.detail-form{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

th.titledetail{
    font-size: 3rem;
    color: white;
    border: none;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;
}

.contentdetail{
    margin: 0px;
    font-size: 3rem;
    color: white;
    border: none;
    height: 400px;
    width: 80%;
    background-color: transparent;
    line-height: 1.5;
}