@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background-color: #34558b;
}
svg{
    color: white;
}
.flux{
    display: none;
}
img.mouse{
    display: none;
}

table{
    width: 100%;
    font-family: 'Godo';
}
.table{
    display: inline-block;
}
label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    margin-top: 300px;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}
.newbutton{
    font-size: 3.5rem;
    font-family: 'Godo';
    text-align: center;
    letter-spacing: 1rem;
    background-color: transparent;
    width: 80%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    border: 6px solid white;
}
.newbutton:hover{
    font-weight: bold;
    background-color: white;
    color: #34558b;
}

.contentdetail{
    margin: 0px;
    font-size: 3rem;
    border: none;
    height: 200px;
    width: 80%;
    font-family: 'Godo';
    background-color: rgb(250,246,237);
}
.titledetail{
    font-size: 3rem;
    border: none;
    font-family: 'Godo';
    width: 80%;
    margin-bottom: 50px;
    background-color: rgb(250,246,237);
}
textarea#id_title.form-control, textarea#id_name.form-control, textarea#id_pw.form-control{
    font-size: 2.8rem;
    border: 6px solid white;
    font-family: 'Godo';
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    color: white;
}
::placeholder{
    color: white;
}
textarea#id_content.form-control{
    margin: 0px;
    font-size: 2.8rem;
    border: 6px solid white;
    height: 400px;
    width: 80%;
    font-family: 'Godo';
    background-color: transparent;
    color: white;
}