@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {
    font-family: 'Cafe24Syongsyong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(../image/bg_4.gif) no-repeat center top fixed; 
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-color: #2F746E;
}
svg{
    color: white;
}
.flux, .neon{
    visibility: hidden;
}

table{
    width: 100%;
    font-family: 'BBTreeGB';
    display: inline-block;
    margin-top: 5rem;
}
label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}

::placeholder{
    color: #caefd9;
}

.newbutton{
    font-size: 3rem;
    font-family: 'BBTreeGB';
    text-align: center;
    /* letter-spacing: 1rem; */
    background-color: white;
    width: 40%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #2F746E;
    border: none;
    border-radius: 100px;
}

.newbutton:hover{
    background-color: transparent;
    color: white;
    border: 6px solid white;
}


textarea#id_title.form-control{
    font-size: 3.5rem;
    border: none;
    font-family: 'Cafe24Syongsyong';
    width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
}

textarea#id_name.form-control{
    font-size: 3rem;
    border: none;
    font-family: 'Cafe24Syongsyong';
    width: 85%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    text-align: center;
    color: #caefd9;
}

textarea#id_content.form-control{
    font-size: 3rem;
    border: none;
    height: 400px;
    width: 80%;
    font-family: 'Cafe24Syongsyong';
    background-color: transparent;
    margin-top: 30px;
    text-align: center;
    color: white;
}

/* detail.html 에서 적용되는 부분 */
tbody{
    width: 100%;
    display: table;
    margin-top: 140px;
}

.detail-form{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

th.titledetail{
    font-size: 4rem;
    border: none;
    font-family: 'Cafe24Syongsyong';
    width: 85%;
    padding-top: 80px;
    margin-bottom: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
}

.contentdetail{
    font-size: 3rem;
    border: none;
    height: 400px;
    width: 80%;
    font-family: 'Cafe24Syongsyong';
    background-color: transparent;
    padding-top: 20px;
    text-align: center;
    color: white;
    line-height: 1.5;
}