@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(../image/treelight.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    margin-top: 15rem;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.flux{
    visibility: hidden;
}
svg{
    color: white;
}

table{
    width: 100%;
    font-family: 'TmoneyRoundWindExtraBold';
    display: inline-block;
    color: white;
}
label{
    display: none;
}
.form{
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
}
td,th{
    margin-bottom: 20px;
}
tr{
    margin-bottom: 30px;
}
input{
    margin-bottom: 1rem;
}
.newbutton{
    font-size: 3rem;
    font-family: 'TmoneyRoundWindExtraBold';
    text-align: center;
    letter-spacing: 1rem;
    background-color: #800E0B;
    width: 80%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    border-radius: 40px;
}
.newbutton:hover{
    font-weight: bold;
    background-color: white;
    color: #800E0B;
}

textarea#id_title.form-control, textarea#id_name.form-control{
    font-size: 2.7rem;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
}

textarea#id_content.form-control{
    margin: 0px;
    font-size: 2.7rem;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    height: 400px;
    width: 80%;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: transparent;
}

.neon {
    font-family: 'TmoneyRoundWindExtraBold';
    color: #FB4264;
    font-size: 60px;
    line-height: 170%;
    text-shadow: 0 0 3vw #F40A35;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    animation: neon 2s linear infinite;
    -moz-animation: neon 2s linear infinite;
    -webkit-animation: neon 2s linear infinite;
    -o-animation: neon 2s linear infinite;
  }
  
@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
}

/* detail.html 에서 적용되는 부분 */
tbody{
    width: 100%;
    display: table;
    margin-top: 20px;
}

.detail-form{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

th.titledetail{
    font-size: 3rem;
    color: white;
    border: none;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 80%;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: transparent;
}

.contentdetail{
    margin: 0px;
    font-size: 3rem;
    color: white;
    border: none;
    height: 400px;
    width: 80%;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: transparent;
}