<head>
    {% load static %}
    <meta property="og:title" content="GIFTMAS">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'image/christmas.jpeg' %}">
    <meta property="og:description" content="사랑하는 사람들에게 마음을 전하세요">
    <title>GIFTMAS</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
</head>

{% block content %}
            
{% endblock %}
