<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% if letter.design == 0 %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    {% elif letter.design == 1 %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail1.css' %}">
    {% endif %}
</head>
<body>
<div class="form">

<table class="table">
    <tr>
        <th class="titledetail">{{letter.title}}</th>
    </tr>
    <tr>
        <td class="contentdetail">{{letter.content|linebreaks}}</td>
    </tr>
</table>
<button class="newbutton" onclick="location.href='{% url 'new' %}'">답장하기</button>

</div>
</body>

</html>