<!--기프티콘 고르는 페이지-->

<!DOCTYPE html>
<html>

{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
어떤 선물을 보낼까요?
<form method="POST" id='gift_form' action="{%url 'giftsave'%}">
    {% csrf_token %}
    <input type="submit" value="선택!"/>
    {% for g in gifts %}
        <input type="radio" name="gift" id="gift{{forloop.counter}}" value="{{g.id}}"/>
        
        <label for="gift{{forloop.counter}}">
        <img width="200" src='{{g.img}}'>
        {{g.title}}
        </label>
        
        <br>
    {% endfor %}
    <input type="hidden" name='pk' value={{pk}}>
</form>

</body>
</html>