<!--기프티콘 고르는 페이지-->

{% load static %}

<!DOCTYPE html>
<html>

{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/gift.css' %}">
</head>

<body>

<h1 class="title">어떤 선물을 보낼까요?</h1>

<form method="POST" id='gift_form' action="{%url 'giftsave'%}">
    {% csrf_token %}
    <input type="submit" value="선택!"/>
    <br>
    <div class="container">
    {% for g in gifts %}
        <div class="item">
            <label for="gift{{forloop.counter}}">
            <img src='{{g.img}}'>
            <div class="content">
                <h3>{{g.title}}</h3>
                <input type="radio" name="gift" id="gift{{forloop.counter}}" value="{{g.id}}"/>
            </div>
            </label>
        </div>
        <br>
    {% endfor %}
    </div>
    <input type="hidden" name='pk' value={{pk}}>
</form>

</body>
</html>