<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  {% load static %}

  {% block content %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/link.css' %}">
</head>

<body>

<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>   <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>  <div class="snowflake">❅</div>
</div>

<div id="pk" style="visibility:hidden;">{{letter.pk}}</div>
<div id="name" style="visibility:hidden;">{{letter.name}}</div>
<div id="gift" style="visibility:hidden;">{{letter.gift.id}}</div>

<div class="container">
  <div class="send">편지가 모두 완성되었습니다!</div>
  <div class="send">카톡 아이콘을 눌러 편지를 전송하세요!</div>
</div>

<!--이게 카카오 링크 버튼!-->
<a id="kakao-link-btn" href="javascript:sendLink()">
  <img
    src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
</a>


<script type="text/javascript">
  var name = document.getElementById("name").innerHTML;
  var pk = document.getElementById("pk").innerHTML;
  var gift = document.getElementById("gift").innerHTML;
  
  giftList = {
    '0' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbVjbJk%2FbtqPRATdzoi%2FEOaa2ZwsRg8CvsGvdhXAEk%2Fimg.png',
    '1' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbtEz0v%2FbtqPRAlpq9x%2FmbBPIzyw8q49zJXsD6vFL0%2Fimg.png',
    '2' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FWJeHV%2FbtqP6obTyHb%2FYQFqwKt7v7VpbrDqfXa9F0%2Fimg.png',
    '3' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FvwUX2%2FbtqP0tyg4X5%2FKydLakn0sgvoeM8cJwFqe0%2Fimg.png',
    '4' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Feo92ed%2FbtqPYkB6dyl%2FB5PMgO0Vwv4uwL7ZbzfPO1%2Fimg.png',
    '5' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcJOH5M%2FbtqPZJBqm5P%2FnbHdbFeJThMsNA0t1ikQkk%2Fimg.png',
    '6' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FrtFYV%2FbtqPRBSdnYa%2Fhjhv1LiPwC9PTHzLVKsgWk%2Fimg.png',
    '7' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbBPDoU%2FbtqP4myDkxK%2FnicfTVUWAZ61nAYhMokeBk%2Fimg.png',
    '8' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FseZ9G%2FbtqP4l7x6RE%2F4yXncaOFbo01ckjYYprFA0%2Fimg.png',
    '9' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fs8xA2%2FbtqP10o5tVa%2F3yaWBqf0lvOrO80NqWDZW0%2Fimg.png',
    '10' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc2UGvR%2FbtqPYTK03Bh%2FNTZgPcRo2wsvFxN078pXFk%2Fimg.png',
    '11' : 'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdf990p%2FbtqP12tEkeN%2FRaTmkU7StLwnVylWxRnq60%2Fimg.png',
  }
  
  Kakao.init('b1256f439183fbd64043c20c046e7fa6');
  function sendLink() {
    Kakao.Link.sendCustom({
      templateId: 19567,
      templateArgs: {
        'last': pk,
        'img': giftList[gift],
        'name': name,
      }
     })
  }
</script> 

{% comment %} <a id="kakao-link-btn" href="javascript:sendLink()">
  <img
    src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
  />
</a>
<script type="text/javascript">
  var name = document.getElementById("name").innerHTML;
  var pk = document.getElementById("pk").innerHTML;
  Kakao.init('b1256f439183fbd64043c20c046e7fa6');
  function sendLink() {
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: name+'님이 선물과 메시지를 보냈습니다.',
        imageUrl:
          'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FZdc5M%2FbtqOvRnxthY%2Fi9pZziF5sj9ehDVBnZEkxk%2Fimg.png',
        link: {
          mobileWebUrl: 'https://developers.kakao.com',
          webUrl: 'https://developers.kakao.com',
        },
        imageWidth: 230,
        imageHeight: 305,
      },
      buttons: [
        {
          title: '선물함으로 가기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com',
          },
        },
        {
          title: '앱으로 보기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com',
          },
        },
      ],
    })
  }
</script> {% endcomment %}




<!--카카오톡으로 보내는 부분-->
{% comment %} <script type='text/javascript'>
    var pk = document.getElementById("pk").innerHTML;
    var name = document.getElementById("name").innerHTML;
    var gift = document.getElementById("gift").innerHTML;

    var last = "detail/".concat(pk);
    var imgList = ['https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2F7xVGX%2FbtqAGYIamcl%2FNpdBITrFVuc0b9SIsjXiHk%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fruoo8%2FbtqAGYg5Zbo%2F6z9QyLsMnoeQKCovOWeI90%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbxefER%2FbtqAIfh6WWF%2FNwfI0n32rfVs4Y6tszbKM1%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2F0hLWG%2FbtqAI3nIBOX%2FC6nTteM4cSrqP0wx1NcVg0%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbhWDU2%2FbtqAJvjOors%2FVqOaysW2e0PJTGAeVAtjgk%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FpOrc1%2FbtqAJxaOkZt%2FNr8SlwR6JaYyo4mEE0o9Rk%2Fimg.png',];

    Kakao.init('b1256f439183fbd64043c20c046e7fa6');
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: name+'님 선물과 편지가 도착했습니다.',
        imageUrl: imgList[gift], //기프티콘에 뜰 이미지가 들어감
        link: {
          mobileWebUrl: 'http://127.0.0.1:8000/'.concat(last),
          webUrl: 'http://127.0.0.1:8000/'.concat(last),
          /*
          mobileWebUrl: 'https://againpapo.herokuapp.com/'.concat(last),
          webUrl: 'https://againpapo.herokuapp.com/'.concat(last),*/
        },
        imageWidth: 200,
        imageHeight: 300,
      },
      buttons: [
        {
          title: '편지보러 가기', //여기다가 디테일 페이지 연결해주기
          link: {
            mobileWebUrl: 'http://127.0.0.1:8000/'.concat(last),
            webUrl: 'http://127.0.0.1:8000/'.concat(last),
            // mobileWebUrl: 'https://againpapo.herokuapp.com/'.concat(last),
            // webUrl: 'https://againpapo.herokuapp.com/'.concat(last),
          }
        },
        {
          title: '나도 선물하기', //여기는 홈 화면 연결해주기
          link: {
            mobileWebUrl: 'http://127.0.0.1:8000/',
            webUrl: 'http://127.0.0.1:8000/',
            // mobileWebUrl: 'https://againpapo.herokuapp.com/', 
            // webUrl: 'https://againpapo.herokuapp.com/', 
          }
        }
      ]
    });
</script> {% endcomment %}

</body>
{% endblock %}
</html>