<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>

<div id="pk" style="visibility:hidden;">{{pk}}</div>
<div id="name" style="visibility:hidden;">{{name}}</div>
<!--<div id="gift" style="visibility:hidden;">{{gift}}</div>-->

<!--이게 카카오 링크 버튼!-->
<a id="kakao-link-btn" href="javascript:;">
<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
</a>


<!--카카오톡으로 보내는 부분-->
<script type='text/javascript'>
    var pk = document.getElementById("pk").innerHTML;
    var name = document.getElementById("name").innerHTML;

    var last = "detail/".concat(pk);
    var imgList = ['https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2F8QdND%2FbtqAI3m1qaK%2F3wraYvJiRSnMNG90aJUUF1%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FrbN2a%2FbtqAHp5R3aR%2F45Mmuf9SciKAScC2XwDwu0%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FecjIxo%2FbtqAGCq1lZk%2FSKt9FdXrgC86mtl1VbcJX1%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2Fv80zM%2FbtqAI3tNG2u%2FZWOEjZlv0W9Uk9q8ExF46K%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FpcInD%2FbtqAIQanePf%2FeFySuZJPcBkO7RTeDRnLA0%2Fimg.png',
    'https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FHemrK%2FbtqAGce3bho%2Fe64klDGkWl7dqs9S9dqDf1%2Fimg.png',];

    var imgIndex = Math.floor(Math.random()*imgList.length);
    Kakao.init('b1256f439183fbd64043c20c046e7fa6');
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: name+'님 선물과 편지가 도착했습니다.',
        imageUrl: imgList[imgIndex], //기프티콘에 뜰 이미지가 들어감
        link: {
            mobileWebUrl: 'https://againpapo.herokuapp.com/'.concat(last),
            webUrl: 'https://againpapo.herokuapp.com/'.concat(last),
        },
        imageWidth: 200,
        imageHeight: 300,
      },
      buttons: [
        {
          title: '편지보러 가기', //여기다가 디테일 페이지 연결해주기
          link: {
            mobileWebUrl: 'https://againpapo.herokuapp.com/'.concat(last),
            webUrl: 'https://againpapo.herokuapp.com/'.concat(last),
          }
        },
        {
          title: '나도 선물하기', //여기는 홈 화면 연결해주기
          link: {
            mobileWebUrl: 'https://againpapo.herokuapp.com/', 
            webUrl: 'https://againpapo.herokuapp.com/', 
          }
        }
      ]
    });
</script>

</body>

</html>