<!DOCTYPE html>
<html>
<!--편지 작성하고 편지지디자인 고르는 페이지-->
{% load static %}
<head>
  <link id="css" rel="stylesheet" type="text/css" href="{% static 'css/new2.css' %}">
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script>
    var num = 0;
    var cssList = [
    "{% static 'css/new.css' %}",
    "{% static 'css/new2.css' %}",
    "{% static 'css/new3.css' %}",
    "{% static 'css/new4.css' %}",
  ];

    window.onload = function() {
      document.getElementById("change1").onclick = function(){
        var link = document.getElementById("css");
        if(num==0) num=num+cssList.length;
          num = (num-1)%cssList.length;
        link.href = cssList[num];
        document.getElementById("design").value = num;
      }
      document.getElementById("change2").onclick = function(){
        var link = document.getElementById("css");
        num = (num+1)%cssList.length;
        link.href = cssList[num];
        document.getElementById("design").value = num;
      }
    }
    
  </script>
</head>

<body>

<a id='change1'>
  <i class="fas fa-chevron-circle-left" style="font-size: 70px; position: fixed; left: 10px; top: 800px;"></i>
</a>
<a id='change2'>
  <i class="fas fa-chevron-circle-right" style="font-size: 70px; position: fixed; right: 10px; top: 800px;"></i>
</a>
<div class="container">
  <div class="flux"> 
    2020, 반짝반짝 빛나는 <br> 한 해가 되기를 기원합니다
  </div>
</div>
<div class="form" name="form">
<form method="POST" name="newform">
    {% csrf_token %}
    <table class="table">
    {{ form }}
    </table>
    <input type="hidden" name='gift' value={{gift}}>
    <input type="hidden" name="design" value="0" id="design">
    {{error}}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <br>
    <button class="newbutton">저장</button>


</form></div>
</body>

</html>